<div class="w-full flex flex-col space-y-5">
    <span class="text-lg font-light text-gray-500 text-center">
        Choose a new password then click the <span class="font-bold">Change</span> button to recover your password
    </span>
    <form class="w-full" [formGroup]="form" (submit)="recoverPassword()">
        <div class="relative z-0 mb-6 w-full group">
            <input type="password" name="password" id="password" formControlName="password"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-400 peer"
                placeholder=" " [ngClass]="{'border-red-500': !form.controls['password'].pristine && !form.controls['password'].valid}" />
            <label for="password"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                [ngClass]="{'text-red-500': !form.controls['password'].pristine && !form.controls['password'].valid}">
                New password
            </label>
            <span class="text-xs text-red-500" *ngIf="!form.controls['password'].pristine && form.controls['password'].hasError('required')">
                <fa-icon [icon]="faTriangleExclamation"></fa-icon> The new password field is required
            </span>
        </div>
        <div class="relative z-0 mb-6 w-full group">
            <input type="password" name="password_confirmation" id="password_confirmation" formControlName="password_confirmation"
                class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-400 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-400 peer"
                placeholder=" " [ngClass]="{'border-red-500': !form.controls['password_confirmation'].pristine && !form.controls['password_confirmation'].valid}" />
            <label for="password_confirmation"
                class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-400 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                [ngClass]="{'text-red-500': !form.controls['password_confirmation'].pristine && !form.controls['password_confirmation'].valid}">
                Password confirmation
            </label>
            <span class="text-xs text-red-500" *ngIf="!form.controls['password_confirmation'].pristine && form.controls['password_confirmation'].hasError('required')">
                <fa-icon [icon]="faTriangleExclamation"></fa-icon> The password confirmation field is required
            </span>
        </div>
        <button type="submit"
            class="w-full text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm px-5 py-2.5 text-center dark:bg-blue-400 dark:hover:bg-blue-500 dark:focus:ring-blue-600 shadow hover:shadow-lg uppercase">
            Change password
        </button>
    </form>
    <p class="text-gray-500 text-sm font-base text-center w-full">
        Back to login page?
        <br>
        <a [routerLink]="['/auth']" class="text-blue-500 hover:underline">
            Click here
        </a>
    </p>
</div>