<div class="absolute w-full h-full top-0 left-0 right-0 bottom-0 flex flex-row justify-center items-center">

    <div id="auth-cover"
        class="lg:flex hidden w-4/6 h-full flex-col justify-center items-start bg-cover bg-center bg-no-repeat px-44 space-y-2">
        <span class="text-4xl text-white font-medium max-w-xl">
          Netify Watch Latest Movies
        </span>
        <span class="text-base text-white opacity-80 font-light max-w-xl">
           See What's Next, reflects the company's commitment to innovation and providing new, exciting content. While Netflix doesn't have a permanent slogan, its taglines focus on its ability to offer viewers endless entertainment options, staying at the cutting edge of the streaming industry. 
        </span>
    </div>

    <div id="auth-form" 
        class="flex lg:w-2/6 w-full h-full flex-col justify-center items-center space-y-5 lg:px-28 px-10">
        <img src="assets/images/angular.png" alt="Angular Logo" class="w-20" />
        <span class="text-xl uppercase text-gray-500 font-bold w-full text-center">
         Login To watch movies
        </span>
        <router-outlet></router-outlet>
    </div>

</div>