<div class="w-full flex flex-col space-x-2">
    <div class="w-full h-64 bg-gradient-to-t from-cyan-500 to-blue-500"></div>
    <div class="w-full flex flex-col -mt-16 px-10 pb-20 space-y-10">
      <div class="w-full flex items-end space-x-2">
        <!-- Display user initials dynamically -->
        <img
          id="avatarButton"
          class="w-32 h-32 rounded-full cursor-pointer shadow-lg"
          [src]="'https://ui-avatars.com/api/?name=' + userData?.name + '&color=FFFFFF&background=56bdc8'"
          alt="User avatar"
        />
        <div class="flex flex-col space-y-0 pb-2">
          <!-- Display dynamic user name -->
          <span class="text-xl text-gray-500 font-bold">{{ userData?.name }}</span>
          <!-- Display dynamic email -->
          <span class="text-base text-gray-500 font-medium">{{ userData?.email }}</span>
        </div>
      </div>
      <p class="w-full text-gray-500 text-base">
        Fill the below form and click the <span class="font-bold">Update</span> button to change your profile's
        information. <br />
        You can also choose a new password and confirm it to update your user account current password.
      </p>
      <form [formGroup]="form" class="lg:w-3/6 w-full">
        <!-- Name Field -->
        <div class="relative z-0 mb-6 w-full group">
          <input
            type="text"
            id="name"
            formControlName="name"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
            placeholder=" "
          />
          <label
            for="name"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10"
          >
            Full Name
          </label>
        </div>
  
        <!-- Email Field -->
        <div class="relative z-0 mb-6 w-full group">
          <input
            type="email"
            id="email"
            formControlName="email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
            placeholder=" "
          />
          <label
            for="email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10"
          >
            Email Address
          </label>
        </div>
  
        <!-- Current Password Field -->
        <div class="relative z-0 mb-6 w-full group">
          <input
            type="password"
            id="password"
            formControlName="password"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
            placeholder=" "
          />
          <label
            for="password"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10"
          >
            Current Password
          </label>
          <span class="text-red-500 text-xs" *ngIf="form.controls['password'].touched && form.controls['password'].hasError('required')">
            Current Password is required
          </span>
          <span class="text-red-500 text-xs" *ngIf="form.controls['password'].touched && form.controls['password'].hasError('minlength')">
            New Password must be at least 6 characters long
          </span>
        </div>
  
        <!-- New Password Fields -->
        <div class="w-full flex items-center space-x-5">
          <div class="relative z-0 mb-6 w-1/2 group">
            <input
              type="password"
              id="new_password"
              formControlName="new_password"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
              placeholder=" "
            />
            <label
              for="new_password"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10"
            >
              New Password
            </label>
            <span class="text-red-500 text-xs" *ngIf="form.controls['new_password'].touched && form.controls['new_password'].hasError('required')">
                New Password is required
              </span>
              <span class="text-red-500 text-xs" *ngIf="form.controls['new_password'].touched && form.controls['new_password'].hasError('minlength')">
                New Password must be at least 6 characters long
              </span>
          </div>
          <div class="relative z-0 mb-6 w-1/2 group">
            <input
              type="password"
              id="new_password_confirmation"
              formControlName="new_password_confirmation"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none"
              placeholder=" "
            />
            <label
              for="new_password_confirmation"
              class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10"
            >
              Confirm New Password
            </label>
            <span class="text-red-500 text-xs" *ngIf="form.controls['new_password_confirmation'].touched && form.controls['new_password_confirmation'].hasError('required')">
                Confirm New Password is required
              </span>
              <span class="text-red-500 text-xs" *ngIf="form.hasError('passwordsMismatch')">
                New Password and Confirm New Password do not match
              </span>
          </div>
        </div>
  
        <button
          type="submit"
          (click)="updateProfile()"
          class="text-white bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm w-full px-5 py-2.5 text-center"
        >
          Update Profile
        </button>
      </form>
    </div>
  </div>
  